button, button:focus, button:active{
    border: none;
    outline: none;
}
#gradT {    
    width:100%;
    min-height: 100vh;
    background: #090b0e;
    background-image:#090b0e;background-image: 
    radial-gradient(at 0% 0%, #1a404b 0, transparent 50%),   
      radial-gradient(at 40% 22%, #090b0e 0, transparent 10%),  
      radial-gradient(at 50% 50%, #090b0e 0, transparent 50%),  
      radial-gradient(at 80% 0%, #090b0e 0, transparent 50%),  
      radial-gradient(at 0% 50%, #090b0e 0, transparent 50%),  
      radial-gradient(at 81% 49%, #090b0e 0, transparent 50%),  
      radial-gradient(at 0% 100%, #090b0e 0, transparent 50%),  
      radial-gradient(at 75% 90%, #1a404b 0, transparent 40%),
      radial-gradient(at 100% 100%, #090b0e 0, transparent 50%);
    /* background: radial-gradient(circle, rgba(24,64,74,1)10%,rgba(10,12,16,1) 50%); */

    /* background: #090b0e; 
    background-image:#090b0e;background-image: 
    radial-gradient(at 38% 40%, #1a404b 0, transparent 11%),
    radial-gradient(at 50% 70%, #1a404b 0, transparent 35%),
    radial-gradient(at 0% 0%, #1a404b, transparent 40%),
    radial-gradient(at 100% 0%, #1a404b, transparent 20%);  */

    background-size: 200% 200%;
    -webkit-animation: Gradient 25s ease infinite;
    -moz-animation: Gradient 25s ease infinite;
    animation: Gradient 25s ease infinite;
    padding: 16px;
    background-attachment: fixed;
} 

.paused {
    -webkit-animation-play-state: paused; /* Safari 4.0 - 8.0 */
    animation-play-state: paused;
  }
  
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 10%
  }
  50% {
    background-position: 100% 10%
  }
  100% {
    background-position: 0% 10%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 10%
  }
  50% {
    background-position: 100% 10%
  }
  100% {
    background-position: 0% 10%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 10%
  }
  50% {
    background-position: 100% 100%
  }
  100% {
    background-position: 0% 50%

  }
}

.secondaryContainerW{
    border-radius: 20px;
    padding: 16px;
    min-height: 100vh;
    border: 3px solid #909193;
}

.card{
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    margin-top: 20px;
    background-color: #00000000;
    border: 1px solid #0e895f;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4px;
}

.topFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.centerW{
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 50;
    margin-top: 64px;
    margin-bottom: 64px;
  }

  .transaprentBox{
    background: rgba(77, 77, 77, 0.3);
    box-shadow: 0 2px 2px 0 rgba( 197, 197, 197, 0.37 );
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(77, 77, 77, 0.3);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 6px;
    margin-left: 15px;
    margin-right: 15px;
}

.transaprentBoxWhite{
    background-color: rgba(255, 255, 255, 0.1);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 6px;
    margin-left: 15px;
    margin-right: 15px;
}

.transaprentBoxWhiteT{
    background-color: rgba(255, 255, 255, 0.1);
    padding-bottom: 30px;
    border-radius: 6px;
    margin-left: 15px;
    margin-right: 15px;
}